---
import AppreciationsLoop from "../appreciations-loop.astro";
import Button from "../button.astro";
import { getCollection } from "astro:content";

const allAppreciation = await getCollection("appreciation");

function parseDate(dateStr) {
  const [month, day, year] = dateStr.split(" ");
  return new Date(`${month} ${parseInt(day)}, ${year}`);
}

const sortedAppreciation = allAppreciation
  .map((item) => ({
    ...item,
    date: parseDate(item.data.dateFormatted),
  }))
  .sort((a, b) => b.date.getTime() - a.date.getTime());

const appreciationLoop = sortedAppreciation.slice(0, 3).map((item) => {
  return {
    ...(item.data || {}),
    link: `/appreciation/${item.slug}`,
  };
});
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    赏析
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    分享一些值得欣赏的作品、文章和思考。
  </p>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div class="w-full space-y-7">
      <AppreciationsLoop count="3" />

      <div class="flex items-center justify-center w-full py-5">
        <Button text="查看更多鉴赏文章" link="/appreciations" />
      </div>
    </div>
  </div>
</section>
