---
import Button from "../button.astro";
import { getCollection } from "astro:content";
import JourneyLoop from "../journey-loop.astro";

const allJourney = await getCollection("journey");

function parseDate(dateStr) {
  const [month, day, year] = dateStr.split(" ");
  return new Date(`${month} ${parseInt(day)}, ${year}`);
}

const sortedJourney = allJourney
  .map((item) => ({
    ...item,
    date: parseDate(item.data.dateFormatted),
  }))
  .sort((a, b) => b.date.getTime() - a.date.getTime());

const journeyLoop = sortedJourney.slice(0, 3).map((item) => {
  return {
    ...(item.data || {}),
    link: `/journey/${item.slug}`,
  };
});
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    游记
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    记录旅行中的所见所闻，分享旅途的美好时光。
  </p>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div class="w-full space-y-7">
      <JourneyLoop count="3" />
    </div>

    <div class="flex items-center justify-center w-full py-5">
        <Button text="查看更多游记文章" link="/journey" />
      </div>
  </div>
</section>
